build/
NMPB/obj/
NMPB/bin/
NMPB.Client/obj/
NMPB.Client/bin/
NMPB.RemoteControl/obj/
NMPB.RemoteControl/bin/
NMPB-Gui/obj/
NMPB-Gui/bin/
NMPB-Gui/NMPB-GUIReferences
NMPB-FileExporter/obj/
NMPB-FileExporter/bin/
NMPB-FileExporter/NMPB-FileExporterReferences